$red : red;
$green: green;
$yellow: yellow;
$tan: tan;
$blue: blue;
$white: white;
$black: black;
$brown: brown;
$gray: gray;
$purple: purple;
$pink: pink;
$olive: olive;
$cadetblue: cadetblue;
$cyan: cyan;
$dmagenta: darkmagenta;

$radius-5: 5px;
$radius-10: 10px;
$radius-15: 15px;
$radius-20: 20px;
$radius-25: 25px;
$radius-30: 30px;
$radius--10: 10%;
$radius--20: 20%;
$radius--30: 30%;
$radius--40: 40%;
$radius--50: 50%;